@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,900');


body {
	margin: 0;
  padding: 0;
	font-family: 'Raleway', sans-serif;
  background: #5656;
  text-align: center;
}

header img {
	width: 200px;
	height: 200px;
}

.container-f {
	width: 950%;
	max-width: 70em;
	margin: 0 auto;
}

.clearfix::after,
section::after,
footer::after {
	content: '';
	display: block;
	clear: both;
}

/* Column system
=================== */

[class^=col-] {
	width: 100%;
	margin-top: 1em;
}

[class^=col-]:first-child {
	margin-top: 0;
}

.col-1 {
	width: 33.333334%;
	float: left;
}


@media (min-width: 40rem) {

	[class^=col-] {
		float: left;
		padding: 0 .5em;
		margin-top: 0;
	}

	[class^=col-]:first-child {
		padding-left: 0;
	}

	[class^=col-]:last-child {
		padding-right: 0;
	}

	.col-3 {
		width: 50%;
	}

	.col-1 {
		width: 17%;
	}
}

@media (min-width: 60rem) {
	.col-3 p {
		font-size: 1.4rem;
	}

	.col-1 li {
		font-size: 1.4rem;
	}
}

/* typography
============= */

.title-cta {
	margin: 0 0 .5em;
}


/* buttons
============= */

/* buttons */

.button {
	display: inline-block;
	font-size: 1.15rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
}


.button-accent {
	color: #0080FF;
	border-color: #0080FF;
}


.button-dark {
	color: #232323;
	border-color: #232323;
}

.button-dark:hover,
.button-dark:focus {
	background: #232323;
	color: #0080FF;
}

@media (min-width: 60rem) {
	.button {
		font-size: 1.5rem;
	}
}

/* header
=================== */

header {
	position: relative;
	left: 0;
	right: 0;
	margin: 1em;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 1em;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	padding: .5em;
	text-transform: uppercase;
	color: #0080FF;
	font-size: .8rem;
}

nav a:hover,
nav a:focus {
	color: #ddd;
}

@media (min-width:60rem) {
	.logo {
		float: left;
	}

	nav {
		float: right;
	}
}


.container {
  width: 1280px;
  margin: 70px auto 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container .box {
  position: relative;
  width: 300px;
  height: 300px;
  background: #ff0;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
}

.container .box .imgBox {
  position: relative;
  overflow: hidden;
}

.container .box .imgBox img {
  max-width: 100%;
  transition: transform 2s;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.container .box:hover .imgBox img {
  transform: scale(1.2);
}

.container .box .details {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.8);
  transform: scaleY(0);
  transition: transform .5s;
}

.container .box:hover .details {
  transform: scaleY(1);
}

.container .box .details .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 15px;
  color: #fff;
}

.container .box .details .content h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #ff0;
}

.container .box .details .content p {
  margin: 10px 0 0;
  padding: 0;
}

/* CTA
=================== */

.cta {
	background-color: #0080FF;
	padding: 3em 0;
	color: #fff;
}

/* Footer
=================== */

footer {
	background: #232323;
	color: #fff;
	text-align: left;
	padding: 5em 0;
}
