@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,900');

body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	text-align: center;

}

header img {
	width: 200px;
	height: 200px;
}


figure img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 95%;
	max-width: 70em;
	margin: 0 auto;
}

.clearfix::after,
section::after,
footer::after {
	content: '';
	display: block;
	clear: both;
}


/* Column system
=================== */

[class^=col-] {
	width: 100%;
	margin-top: 1em;
}

[class^=col-]:first-child {
	margin-top: 0;
}

.col-1 {
	width: 33.333334%;
	float: left;
}


@media (min-width: 40rem) {

	[class^=col-] {
		float: left;
		padding: 0 .5em;
		margin-top: 0;
	}

	[class^=col-]:first-child {
		padding-left: 0;
	}

	[class^=col-]:last-child {
		padding-right: 0;
	}

	.col-3 {
		width: 50%;
	}

	.col-1 {
		width: 17%;
	}
}

@media (min-width: 60rem) {
	.col-3 p {
		font-size: 1.4rem;
	}

	.col-1 li {
		font-size: 1.4rem;
	}
}

/* typography
===================== */

.title {
	padding-top: 2em;
	font-size: 2.5rem;
	margin-bottom: 2em;
	font-weight: 900;
	margin-top: 1em;
	color: #FFF;
	outline: inherit;
}


.unstyled-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

@media (min-width: 60rem) {
	.title {
		font-size: 3.7rem;
	}
}


/* Vehicle Portfolio typography
================================ */

.Vehicle-Portfolio h1 {
		font-weight: 700;
		font-size: 1.2rem;
		color: #0080FF;
		margin-top: 0;
		margin-bottom: 0;
	  padding: 1.5em;
		background-color: #565656;
		outline: 2px solid #0080FF;
		outline-offset: -0.7em;
	}

	.Vehicle-Portfolio h2{
		margin-bottom: 0;
		margin-top: 0;
	}

.vehicle-portfolio-text h2{
	color: #FAFA37;
}

.Vehicle-Portfolio p {
 color: #FFF;
}

.vehicle-portfolio-text {
	outline: 2px solid #FAFA37;
	outline-offset: -1em;
	padding: 2em;
	background-color: #565656;
}

.vehicle-portfolio-text-2 h2{
	color: #D5D5D7;
}

.vehicle-portfolio-text-2 {
	outline: 2px solid #D5D5D7;
	outline-offset: -1em;
	padding: 2em;
	background-color: #565656;
}

.vehicle-portfolio-text-3 h2{
	color: #326d95;
}

.vehicle-portfolio-text-3 {
	outline: 2px solid #326d95;
	outline-offset: -1em;
	padding: 2em;
	background-color: #565656;
}

.vehicle-portfolio-text-4 h2{
	color: #070b0c;
}

.vehicle-portfolio-text-4 {
	outline: 2px solid #070b0c;
	outline-offset: -1em;
	padding: 2em;
	background-color: #565656;
}

.vehicle-portfolio-text-5 h2{
	color: #0287cc;
}

.vehicle-portfolio-text-5 {
	outline: 2px solid #0287cc;
	outline-offset: -1em;
	padding: 2em;
	background-color: #565656;
}

@media (min-width: 45rem) {
.Vehicle-Portfolio h1 {
		font-size: 3rem;
	}
	.Vehicle-Portfolio h2{
		font-size: 3rem;
	}
	.Vehicle-Portfolio p{
		font-size: 1.4rem;
	}
}

	@media (min-width: 60rem) {
	.Vehicle-Portfolio h1 {
			font-size: 4rem;
		}
	}


/* buttons */

.button {
	display: inline-block;
	font-size: 1.15rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1.75em;
}


.button-accent {
	color: #0080FF;
	border-color: #0080FF;
}

.button-accent:hover,
.button-accent:focus {
	background: #0080FF;
	color: #232323;
}

.button-dark {
	color: #232323;
	border-color: #232323;
}

.button-dark:hover,
.button-dark:focus {
	background: #232323;
	color: #0080FF;
}

@media (min-width: 60rem) {
	.button {
		font-size: 1.5rem;
	}
}

/* header
=================== */

header {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0em;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 0em;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	padding: .5em;
	text-transform: uppercase;
	color: #0080FF;
	font-size: .8rem;
}

nav a:hover,
nav a:focus {
	color: #ddd;
}

@media (min-width:60rem) {
	.logo {
		float: left;
	}

	nav {
		float: right;
	}
}

/* home-hero
=============== */

.home-hero {
	background-image: url(images/Lambo-bg.jpg);
	background-size: cover;
	background-position: center;
	padding: 10em 0;
}

@media (min-width: 60rem) {
	.home-hero {
		height: 100vh;
		padding-top: 35vh;
	}
}

/* Portfolio
==================== */

figure {
	margin: 0;
}


.vehicle-portfolio-item {
	position: relative;
}

.vehicle-portfolio-item img {
display: block;

}

/* CTA
=================== */

.cta {
	background-color: #0080FF;
	padding: 3em 0;
	color: #fff;
}

/* Footer
=================== */

footer {
	background: #232323;
	color: #fff;
	text-align: left;
	padding: 5em 0;
}
